@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

li {
list-style-type: none;
text-decoration: none;
}

/********************* HEADER ***********************/
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 50px;
}

.logo{
 margin-right: auto;
 height: 50px;
}

.menu li {
  display: inline-block;
  padding: 0 15px;
}

.menu li a {
  text-decoration: none;
  color: black;
}

.menu li a:hover{
  color: #0065FC;
  padding-top: 40px;
  border-top: 3px solid #0065FC;
}

.signIn {
  font-weight: bold;
}

/******************** SEARCH SECTION *******************/


.search {
  margin-left: 50px;
}
.mainTitle {
margin-left: 50px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar i {
  border: 10px solid #f2f2f2;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #f2f2f2;
  height: 2em;
  width: 30px;
}

input {
  border: 2px solid #f2f2f2;
  height: 3.7em;
  font-weight: bold;
  width: 250px;
}
.search-button {
  border: 10px solid #0065fc;
  background: #0065fc;
  color: #ffffff;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  height: 3.7em;
  width: 150px;
}  


/******************** FILTER SECTION **********************/

 .filter {
  display: flex;
  margin-left: 50px;
}

.filter h2 {
  display: flex;
  margin-top: 25px;
}
.filter ul {
  display: flex;
}

.filterList li{
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-radius: 50px;
  border-left: none;
  margin-right: 25px;
  height: 2.8em;
}

.filterList li:hover {
  background: #83a6db;
  transition: ease-in-out 0.4s;
}

.filterList i {
  color: #0065fc;
  background: #deebff;
  border: 15px solid #deebff;
  border-radius: 100%;
}
.filterList h3 {
  margin-right: 20px;
  margin-left: 20px;
}
.info {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 35px;
}
.fa-info {
  color: #0065fc;
}
.fa-circle {
  color: #f2f2f2;
}

.info p {
  padding-left: 10px;
}

/****************** Logement section *********************/

.container {
  display: flex;
  justify-content: space-between;
  margin-left: 50px;
  
}
 #hebergements {
  background: #F2F2F2;
  border-radius: 25px;    
  width: 70%;
  height: 600px;
}

#hebergements h3 {
  margin-left: 50px;
  padding: 20px;
}
/* #rooms {
  background: #f2f2f2;
  border-radius: 25px;
  width: 900px;
  height: 600px;
} */
.main-rooms {
  display: flex;
  justify-content: space-around;
  align-items: center;    
  flex-wrap: wrap;
  margin: 10px;
  
}

.rooms {
  border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.rooms p,
.rooms h4 {
  margin: 5px;
}
.rooms img {
  width: 235px;
  height: 125px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
}
.rooms:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
}
.rooms-title {
  margin: 20px 0px 20px 70px;
  font-weight: bold;
  font-size: 1em;
}
.rooms a {
  text-decoration: none;
  color: black;
}
.fa-star {
  color: #0065fc;
  font-size: small;
  padding-left: 5px;
}
.fa-star.grey {
  color: #f2f2f2;
  font-size: small;
}
.rooms figure {
  margin: 0;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
}
.rooms figcaption p {
  font-size: 0.8em;
}
.rooms figcaption {
  margin-left: 5px;
}
.more a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.more {
  margin-left: 70px;
}

/************************** POPULAR ***************************/


#popular {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  border-radius: 25px;
  float: right;
  width: 25%;
  height: 600px;
  margin-right: 50px;
}

.allPopularCard {
display: flex;
  flex-direction: column;
}

.popularCard:hover {
  transform: scale(1.2);
  transition: ease-in-out 0.2s;
}

.popularCard img {
  width: 125px;
  height: 135px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  object-fit: cover;
}
.popularTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  padding: 0px 20px 0px 20px;
  font-size: 1em;
}
.popularCard p {
  margin-top: 24px;
}
.popularCard figure {
  display: flex;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 25px;
  box-shadow: 4px 4px 6px #aaa;
}

.popularCard a {
  text-decoration: none;
  color: black;
}
.popularCard figcaption {
  padding-left: 5px;
}
.popularCard figcaption h4 {
  margin: 5px 0;
}
.popularCard figcaption p {
  margin-top: 10px;
}
.popularCard span {
  margin-top: 15px;
} 

/************** ACTIVITES ****************/

#activites {
  margin-top: 70px;
}

.activites h3 {
  margin: 50px 50px 20px;
}
#allActivites {
  display: flex;
  justify-content: center;
  margin: 20px;
}
#allActivites img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  object-fit: cover;
  width: 273px;
  margin: auto;
}
.vieuxp img,
.calanques img {
  height: 400px;
}
.pomegues img {
  height: 200px;
}
.dame img,
.longchamp img {
  height: 150px;
}
.frioul img {
  height: 110px;
  align-content: center;
}
#allActivites a {
  text-decoration: none;
  color: black;
  font-size: small;
}

#allActivites h3 {
  margin-left: 10px;
}

.vieuxp figure,
.calanques figure,
.pomegues figure,
.frioul figure,
.dame figure,
.longchamp figure {
  box-shadow: 8px 8px 12px #aaa;
  border: 1px solid transparent;
  border-radius: 25px;
  box-sizing: border-box;
}
.pomegues,
.dame {
  padding-bottom: 2px;
} 

.frioul:hover,
.vieuxp:hover,
.pomegues:hover,
.calanques:hover,
.dame:hover,
.longchamp:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
} 

/****************** FOOTER ********************/

footer
{
    background:#F2F2F2;
    margin-top: 65px;
    padding-bottom: 10px;
}
.footer
{
    display: flex;
    justify-content: flex-start;
    
}
.footer1, .footer2, .footer3
{
    margin: 25px 170px 0 0;
    list-style-type: none;
}
.footer li
{
    margin-bottom: 8px;
}
.footer a
{
    text-decoration: none;
    color: black;
}




/*********************** RESPONSIF **********************/

/* @media screen and (max-device-width: 980px) 